.fotog {
	position: absolute;
	top: 30%;
	left: 40%;

}

h4 {
	position: absolute;
	bottom: 32%;
	right: 47%;
	font-size: 14px;
	font-family: calibri light;
}
body {
	background-color: white;
}

input {
	padding: 12px 20px;
	border-radius:30px;
	position: relative;
	right: -382px;
	top:350px;
	width: 40%;
}

button {
	position: absolute;
	border-radius: 10%;
	top: 55%;
	left: 40%;
	padding: 1%;
	background-color: gainsboro;
	cursor: pointer;

}

h5 {
	position: fixed;
	bottom: 92%;
	right: 10%;
	color: grey;
}

span {
	color: grey;
	font-family: calibri light;
}

#rechts {
	position: fixed;
	top: 55%;
	left: 50%;
}

.inloggen {
	position: fixed;
	top: 1%;
	height: 6%;
	left: 92%;
	background-color: rgb(0, 140, 255);
	border-style: none; 
}

.rechthoek {
	position: fixed;
	height: 40px;
	width: 1525px;
	bottom: 0;
	background-color: whitesmoke;

}

.twee {
	position: absolute;
	height: 40px;
	width: 1525px;
	bottom: 41px;
	background-color: whitesmoke;
	border-style: solid;
	border-width: 1px;
	border-color: silver; 	
	}

.nederland {
	position: fixed;
	bottom: 7%;
	left: 1%;
	

}

.adverteren {
	position: fixed;
	top: 96%;
	left: 1%;

}

.bedrijf {
	position:fixed;
	top: 96%;
	left: 8.5%;
}

.over {
	position: fixed;
	top: 96%;
	left: 14%;
	
}

.Hoe {
	position: fixed;
	top: 96%;
	left: 18%;
	
}

.privacy {
	position: fixed;
	top: 96%;
	right: 20%;
}

.voorwaarden {
	position: fixed;
	top: 96%;
	right: 10%;

}

.instellingen {
	position: fixed;
	top: 96%;
	right: 2%;

}
a:link {
	text-decoration: none;
}
.zoeken2 {
	padding: 12px 20px;
	border-radius:30px;
	position: fixed;
	top: 47%;
	left: 30%;
	border-style: solid;
	width: 35%;
}
.recht {
	position: fixed;
	height: 40px;
	width: 630px;
	bottom: 47%;
	right: 32%;
	background-color: whitesmoke;
}