.fotog {
	position: absolute;
	top: 230px;
	left: 570px;

}
input {
	padding: 12px 20px;
	border-radius:30px;
	position: relative;
	right: -60px;
	top:350px;
	width: 40%;
}
button {
	position: relative;
	border-radius: 10px;
	top:410px;
	left: -400px;
	padding: 10px;
	background-color: gainsboro;
	cursor: pointer;

}
h5 {
	position: fixed;
	bottom: 92%;
	right: 10%;
	color: grey;
}

span {
	color: grey;
font-family: calibri light;
}
#rechts {
	left: -380px;
}
.inloggen {
	position: fixed;
	top: 1%;
	height: 6%;
	left: 92%;
	background-color: rgb(0, 140, 255);
	border-style: none; 
}
.rechthoek {
	position: fixed;
	height: 40px;
	width: 1525px;
	bottom: 0;
	background-color: whitesmoke;

}
.twee {
	position: absolute;
	height: 40px;
	width: 1525px;
	bottom: 41px;
	background-color: whitesmoke;
	border-style: solid;
	border-width: 1px;
	border-color: silver; 	
	}

.nederland {
	position: fixed;
	bottom: 7%;
	left: 1%;
	

}
.adverteren {
	position: fixed;
	bottom: 2%;
	left: 1%;

}
.bedrijf {
	position:fixed;
	bottom: 2%;
	left: 7%;
}
.over {
	position: fixed;
	bottom: 2%;
	left: 12%;
	
}
.Hoe {
	position: fixed;
	bottom: 2%;
	left: 16%;
	
}
.privacy {
	position: fixed;
	bottom: 7%;
	right: 17%;
}
.voorwaarden {
	position: fixed;
	bottom: 7%;
	right: 9%;

}
.instellingen {
	position: fixed;
	bottom: 7%;
	right: 2%;

}
a:link {
	text-decoration: none;
}